<%- include('partials/header') %>
    <%- include('partials/navbar') %>
        <div class="container mt-2">
            <% if(data.img) { %>
                <img src="<%= data.img %>" alt="">
                <% } %>
                    <h1>Tag: <%= data.title %>
                    </h1>
                    <h4>
                        <%= data.description %>
                    </h4>
                    <p>Followers: <%= data.followers %>
                    </p>

                    <% for (const post of data.posts) { %>
                        <div class="card mt-2">
                            <div class="card-header">
                                Post
                            </div>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <p>
                                        <%= post.title %>
                                    </p>
                                    <footer class="blockquote-footer">
                                        <%= post.author %>
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                        <% } %>
        </div>

        <%- include('partials/footer') %>